<form action="/register" method="post">

  <input name="email" type="email" placeholder="masukkan email anda" />

  <input name="password" type="password" />

  <button type="submit">Kirim</button>
</form>